@font-face {
    font-family: 'red-hat-text';
    src: url('./font/static/RedHatText-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


body {
    background-color: #52B788;
    /* display: flex;
    flex-direction: column; */
}

/* HEADER */
header {
    max-width: 75%;
    height: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

/* Left side of Header */
.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 65px;
}

.title {
    font-family: 'red-hat-text';
    color: #fff;
    font-size: 2.4rem;
    font-weight: lighter;
}

.line-divider {
    max-width: 100%;
    width: 320px;
    border-bottom: 1px solid white;
    margin: auto;
}

/* Right side of Header */

.right-side {
    margin-right: 20px;
}

.settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: none;
    background-color: rgba(255, 255, 255, 65%)
}

#gear {
    width: 30px;
}

/* GREY BOX */

.grey-box {
    background-color: rgba(27, 41, 34, 28%);
    height: 525px;
    border-radius: 5%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    margin-top: 50px;
    box-shadow: 5px 10px 4px rgba(27, 41, 34, 28%);
}

.number-box {
    background-color: rgba(149, 213, 178, 47%);
    box-shadow: 5px 10px 4px rgba(27, 41, 34, 28%);
    width: 300px;
    height: 143px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-radius: 14px;
    position: absolute;
}

.timer-text {
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-family: 'Roboto';
    font-weight: normal;
    margin: auto;   
}

.buttons-container {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.input {
    height: 25px;
    /* position: absolute;
    bottom: 26.5em; */
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding-bottom: 6rem;
}

input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    width: 50%;
  }

  input[type=range]:focus {
    outline: none;
  }
  /* Track */
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background-color: #52B788;
    border-radius: 25px;
    border: none;
  }
  /* Knob */
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
  }

.timer-button {
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 10px 4px rgba(27, 41, 34, 28%);
    background-color: rgba(149, 213, 178, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.play {
    width: 65px;
    height: 65px;
    margin: auto;
}


/* MODAL STYLES */

.settings-text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    position: absolute;
    top: 10px;
    left: 32px;
    font-family: 'red-hat-text';
    color: rgba(19, 19, 19, 0.767);
}

.close-button {
    position: absolute;
    top: 20px;
    right: 24px;
    border: none;
    background-color: #00000000;
}

.close-img {
    width: 25px;
}





/* Small Tablet Styles */
@media screen and (min-width: 620px) {
	.line-divider {
		width: 400px;
        max-width: 900px;
        margin: auto;
	}

    .grey-box {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    input[type=range] {
        height: 26px;
        -webkit-appearance: none;
        width: 30%;
      }
}

/* Large Tablet & Laptops */
@media screen and (min-width: 960px) {
    .grey-box {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .number-box {
        width: 100%;
        max-width: 350px;
    }

	.line-divider {
		width: 530px;
        max-width: 900px;
		margin: auto;
	}

    input[type=range] {
        height: 26px;
        -webkit-appearance: none;
        width: 30%;
      }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
	.line-divider {
		width: 900px;
        max-width: 900px;
		margin: auto;
	}

    .grey-box {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}