@font-face {
    font-family: 'red-hat-text';
    src: url('./font/static/RedHatText-Regular.ttf');
}


body {
    background-color: #52B788;
    /* display: flex;
    flex-direction: column; */
}

/* HEADER */
header {
    max-width: 75%;
    height: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

/* Left side of Header */
.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 100px;
}

.title {
    font-family: 'red-hat-text';
    color: #fff;
    font-size: 2.4rem;
    font-weight: lighter;
}

.line-divider {
    width: 200px;
    border-bottom: 1px solid white;
}

/* Right side of Header */

.right-side {
    margin-right: 20px;
}

.settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: none;
    background-color: rgba(255, 255, 255, 65%)
}

#gear {
    width: 30px;
}





/* Mobile Styles */

/* Small Tablet Styles */
@media screen and (min-width: 620px) {

}

/* Large Tablet & Laptops */
@media screen and (min-width: 960px) {
    
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
    
}